<nav class="navbar navbar-default" role="navigation">
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-tabs" role="tablist">
      	<li class="active"><a href="/bandeja/#/home"><span class="glyphicon glyphicon-home"></span>		Inicio</a></li>
        <li class="active"><a href="/bandeja/#/process"><span class="glyphicon glyphicon-list-alt"></span>		Procesos</a></li>
        <li class="active"><a href="/bandeja/#/tasks"><span class="glyphicon glyphicon-tasks"></span>		Tareas</a></li>
    </ul><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- start: PAGE -->

<div class="content">

	<div class="container" ng-controller="HomeController">
	<br>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Inicio</h3>
	  </div>
	<div class="panel-body">
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<span class="glyphicon glyphicon-exclamation-sign" ></span><strong>	Bienvenido a Bandeja</strong>
		</div>	  
	</div>
	</div>
		
			
		<div id="modal" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	      </div>
	      <div class="modal-body"></div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>

	</div>

	
</div>
</div>
<!-- end: PAGE CONTENT-->
</div>
</div>